argcomplete==2.0.0
attrs==22.1.0
black==22.8.0
click==8.1.3
colorlog==6.7.0
distlib==0.3.6
filelock==3.8.0
iniconfig==1.1.1
mypy-extensions==0.4.3
nox==2022.8.7
numpy<=1.21.6
packaging==21.3
pathspec==0.10.1
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.3
tomli==2.0.1
typing-extensions==4.3.0
virtualenv==20.16.5
